<h1>2015中資盃報名結果通知</h1>

<p>
  <%= @name %>你好：
</p>
<p>感謝你報名2015中資盃</p>

<%if @success == 'true' %>
	<p>目前你們的隊伍已完成所有報名手續</p>
<%else%>
	<p>然而貴隊伍的報名資料中有誤或缺少</p>	
	<p><%= @messages %></p>
	<p>請儘速補上</p>
<%end%>
	
	<p>也請持續關注比賽消息之後續通知</p>
	<p>感謝您</p>

<p>     2015中資盃主辦單位</p>
