<div id="main-core">
<% if is_authorized_user %>
	<%= form_tag 'users', :controller=>'users', :method => :get do %>
	  <p>
	    <%= text_field_tag :searchbar, params[:search] %>
	    <%= submit_tag "Search", :name => nil %>
	  </p>
	<% end %>

	<% if @users.count==0 %>
	<p class="">no related found</p>
	<% end %>

	<% @users.each do |user| %>
		
			<div class="post_wrapper">
				<% @users.each do |user|%>
				<%= link_to user.school+" "+user.name , user_path(user) %>
				<% end %>
			</div>
		
	<% end %>

<% else %>
		<p> 你沒有權限造訪</p>
<% end %>

</div>