<div id="main-core">
	<a target="_blank" href="https://goo.gl/PKLzJW">壘球</a><br>
	<a target="_blank" href="https://goo.gl/ZRL2CT">男籃</a><br>
	<a target="_blank" href="https://goo.gl/eEoGR0">女籃</a><br>
	<a target="_blank" href="https://goo.gl/8xTME9">羽球</a><br>
	<a target="_blank" href="https://goo.gl/Vj2yCG">桌球</a><br>
	<a target="_blank" href="https://goo.gl/nOOCFo">排球</a><br>
	<br>
	<a href="https://goo.gl/vg2WkU">抽籤結果</a>
</div>

