<div class="paragraph-wrapper">
	<p>報名規則</p>

	<p>以FB登入的方式方便註冊與修改<br />
	請每個隊伍只用一個FB帳號做報名，也只能由他編輯<br />
	報名系統後直接點選文字欄位即可做編輯更改<br />
	編輯結束後點選頁面其他位置或是按下Enter即可即時儲存<br />
	*以匯款代碼作為報名成功之依據<br/>

	<li>隊伍資料需填寫學校、科系和球類項目</li>
	<li>生日格式請按照 83.1.1</li>	

</div>