<div class="paragraph-wrapper">
	<p>報名方式說明</p>
	<li>
	<p>此報名系統以FB登入的方式方便註冊與修改<br />
	請每個隊伍只能以「一個」FB帳號統一做註冊與報名，之後的修改也只能由這個帳號做編輯<br />
	</p>
	</li>

	<li>
	<p>
	報名系統後直接點選文字欄位即可做編輯更改<br />
	編輯結束後點選頁面其他位置或是按下Enter即可即時儲存<br />
	</p>
	</li>
	
	<p>填寫注意事項</p>
	<li>隊伍資料需填寫學校、科系和球類項目與聯絡email</li>
	<li>生日格式請按照 83.1.1</li>	
	<li>在報名截止前都能直接在網路上修改報名資料</li>	
	<br>
	<p>匯款資訊：</p>
	<li>匯款帳戶：近期內補上</li>
	<li>報名成功確認方式：將匯款代碼填上後，請靜待工作人員確認後會寄出一封報名成功通知給隊伍聯絡用所填的email</li>

	<p>任何問題請至 <a href="https://www.facebook.com/cisa2015.nthu" style="color: #257;">2015中資盃粉絲專頁</a>留言詢問</p>
</div>