<div class="paragraph-wrapper">
	<p>報名系統說明</p>
	<li>
	<p>此報名系統以FB登入的方式方便註冊與修改<br>
	請每個隊伍只能以「一個」FB帳號統一做註冊與報名，之後的修改也只能由這個帳號做編輯<br>
	</p>
	</li>

	<li>
	<p>
	報名系統後直接點選文字欄位即可做編輯更改<br>
	編輯結束後點選頁面其他位置或是按下Enter即可即時儲存<br>
	</p>
	</li>
	<hr>

	<p>報名流程</p>
	<li>1. 進入報名系統等入資料。</li>
	<li>2. 填入報名相關資料。</li>
	<li>3. 將報名費匯至指定帳戶，並將匯款代碼填入報名系統。</li>
	<li>4. 等待工作人員回復Email，即完成報名。</li>
<hr>
	<p>報名費用</p>
	<li>報名費 + 保證金 + 保險費*隊員人數</li>
	<li>保險費：近期補上</li>
	<li>保證金：1000 NT</li>
	<table width="300" border="1">
		<tr>
			<td>  　</td>
			<td>男籃</td>
			<td>女籃</td>
			<td>男排</td>
			<td>女排</td>
			<td>桌球</td>
			<td>羽球</td>
			<td>壘球</td>
		</tr>
		<tr>
			<td>報名費</td>
			<td>3500</td>
			<td>3500</td>
			<td>3500</td>
			<td>3500</td>
			<td>2500</td>
			<td>3000</td>
			<td>3500</td>
		</tr>
	</table>
	
	
	<p>匯款資訊：</p>
	<li>郵局代碼：700</li>
	<li>匯款帳戶：0281046 0738339</li>
	<li>戶名：董承樺</li>
	<li>報名成功確認方式：將匯款代碼填上後，請靜待工作人員確認後會寄出一封報名成功通知給隊伍聯絡用所填的email</li>
<hr>
	<p>報名相關資料</p>
	<p>各隊以FB登入系統，該人各隊的聯絡人<br>
		聯絡人須有以下資料：</p>
	<li>姓名</li>
	<li>學校</li>
	<li>科系</li>
	<li>球類</li>
	<li>Email</li>
	<p><br>選手需要有以下資料：</p>
	<li>姓名</li>
	<li>學號</li>
	<li>生日</li>
	<li>身分證字號(外籍生/僑生用護照號碼)</li>
	<li>手機</li>
	<li>照片</li>
	<li>大頭照(選手證，正向擺放，建議比例同2吋照片)</li>
	<li>學生證(正/反面)</li>
	<li>第二證件(正/反面)</li>
	<hr>
	<p>填寫注意事項</p>
	<li>隊伍資料需填寫學校、科系和球類項目與聯絡email</li>
	<li>生日格式請按照 83.1.1</li>	
	<li>在報名截止前都能直接在網路上修改報名資料</li>	
	<br>

	<p>任何問題請至 <a href="https://www.facebook.com/cisa2015.nthu" style="color: #257;">2015中資盃粉絲專頁</a>留言詢問</p>
</div>