<div id="main-core">
	<h3 style="text-align: center;"><strong>2015年中部大專院校資訊相關科系羽球團體賽競賽規程</h3>
	<h4>壹、比賽制度：</h4>
	<p>一、 複、決賽採單敗淘汰制。<br>
		二、 一隊報名最多15人，單場檢錄最少7人、最多8人，體保生最多1名。</p>
	<h4>貳、比賽規則：</h4>
	<p>採用BWF現行國際羽球規則和本比賽規定。</p>
	<h4>參、特殊規定：</h4>
	<p>一、 團體賽採五點三勝制（順序為男單、女單、男雙、混雙、男單〕,每個點都不得兼點；各點不得輪空，經雙方隊長同意即可更換順序。<br>
		二、 兩隊出賽時，雙方選手必需全體列隊，核對各點出賽選手身份無誤後，開始進行比賽。比賽結束前，若出賽選手有人、證不符之情況，得再次要求核對選手身份。<br>
		三、 比賽規則為落地得分制，每局先獲得21分者獲勝。1.若雙方比分到達20平分時，以先獲得2分領先者獲勝此局。2.若雙方比分到達20平分時，又都沒有先或得2分領先，以先獲得第25分者獲勝此局。<br>
		四、 預賽各點為一局決勝制，五戰三勝,當一隊先得三點便獲勝。<br>
		五、 複、決賽各點為三局兩勝制，先得兩局為勝，每場比賽以分出勝負之球隊，由裁判判定獲勝後，其餘各點不再繼續比賽。<br>
		六、 凡中途棄權退出比賽者，不予列入名次，其已賽之結果均不予計算。<br>
		七、 循環賽計分法：<br>
		1. 勝一場得二分，敗一場得一分，棄權以零分計算。<br>
		2. 兩隊積分相等時，以該兩隊比賽之勝隊取得晉級。<br>
		3. 如三隊或三隊以上積分相等時，以積分相同之相關各隊比賽結果之勝點和負點之商判定之。若再相同時，以該相關各隊比賽結果之勝局和負局數之商判定之。若再相同時，以該相關各隊比賽結果之勝分和負分數之商判定之。如仍相同時，則由裁判長主持抽籤決定。<br>
		4. 勝率公式為：勝率＝得點（局、分）除以失點（局、分）。<br>
		八、 比賽進行中干擾比賽或辱罵，經勸阻不聽者，球隊隊職員得由裁判依規則規定處理；其餘人士得由主辦單位處理。<br>
		九、 其餘未表列之規則依據BWF現行國際羽球規則實施。</p>
</div><!-- #main-core -->