<div id="main-core">
   
    <h3 style="text-align: center;"><strong>2015年中部大專院校資訊相關科系籃球團體賽競賽規程</strong></h3>
    <hr>
    <p><strong>一、宗旨：</strong><br>
　　北資盃係由台灣北部各大專院校資訊相關科系所共同參與之大型體育競賽，希望藉由北資盃籃球項目之賽事讓學生培養健康的體魄、加強各校系之間的交流、精進籃球項目之技術水準等目的。</p>
    <p><strong>二、主辦單位：</strong>清華大學資訊工程學系</p>
    <p><strong>三、比賽日期：</strong>2015/10/31、2015/11/01</p>
    <p><strong>四、比賽地點：</strong>清華大學、新竹高商</p>
    <p><strong>五、比賽組別：</strong>男子組、女子組</p>
    <p><strong>六、參加資格：</strong><br>
(一) 參賽球隊資格：桃竹苗以北(含)各大專院校資訊相關科系之在學學生為主體，以校系為單位報隊，每單位限報一隊，若有多餘名額，則會在第二階段釋出。每隊報名球員以18人為限，登錄上場球員以12人為限。經理、啦啦隊等相關人員不在此規範內。<br>
(二) 參賽運動員資格：<br>
　　1. 以大會所邀請之大專校院系所104學年度上學期正式註冊之在學學生(含該系所研究生)為限（不含選讀生、先修生、補習生、空中補校、非該科系入學之雙主修生、僑生專修班及各種短期訓練班學生，不得跨系所參賽）。<br>
　　2. 有以下資格者之隊伍比賽時僅能同時有一位選手出賽。<br>
　　　曾參加大專校院運動成績優良學生甄審、甄試、單獨招生、轉學(插班)考試加分等「中等以上學校運動成績優良學生升學輔導辦法」規定之入學管道並經榜示或遞補錄取者定義為專項體保生；限報二名體保生，同時僅能一名體保生在場上。<br>
　　　※ 註：非該項目專項體保生亦視同專項體保生並在此限制之內。<br>
　　3. 符合下列資格者即視同體保生<br>
　　　(i) 以籃球專長入學之球員。(含獨招)<br>
　　　(ii) 研究生在大學是以籃球專長入學之球員。<br>
　　　(iii) 轉學生於首次入學以籃球專長入學之球員。<br>
　　※ 若違反以上規定之隊伍經檢舉查證屬實，則取消該隊伍之該項競賽成績及名次並全數扣除該隊保證金。</p>
    <p><strong>七、領隊會議</strong><br>
　　第一次領隊會議：2015/01/18<br>
　　第二次領隊會議：2015/03/28 </p>
    <p><strong>八、比賽規則：</strong><br>
　　採用FIBA現行國際籃球規則和本比賽特殊規定。</p>
    <p><strong>九、比賽用球</strong><br>
　　男子組用球(七號球)：molten GR7室內外球<br>
　　女子組用球(六號球)：molten GR6D室內外球 </p>
    <p><strong>十、團隊獎項：</strong>取冠亞季三名，贈與獎盃一座。</p>
    <p><strong>十一、比賽制度</strong><br>
(一) 預賽採分組單循環賽制。(每組三至四隊，取分組前兩名晉級)<br>
(二) 決賽採單敗淘汰制。<br>
 如預賽勝負相同，晉級判定如下：<br>
 　　1. 所得總分數減去所失總分數之淨得分多寡判定名次<br>
 　　2. 若只有兩隊淨得分相同，預賽勝者晉級<br>
 　　3. 若預賽兩隊為結果為平手或三隊淨得分都相同，則抽籤決定。<br>
※ 雨備：視天候狀況，屆時請依2015年中資盃官方網站公告為依據。<br>
  (一) 預賽：分組循環制，比賽時間縮短。<br>
  (二) 預賽時臨時下雨：仍為分組循環制，比賽時間縮短，賽程將由大會現場調整。<br>
  (三) 決賽：單敗淘汰制。(雨備比賽時間將視報名總隊數做決定)</p>
<p><strong>十二、比賽細則</strong><br>
(一) 比賽需著統一樣式之球衣，球衣正面或背面需有該球員明顯背號。<br>
(二) 比賽開始時，當其中一隊出場球員人數不足五人時，球賽不得開始。在比賽時間五分鐘後，該隊仍不足五人時，則應判令該隊棄權，由對隊20:0(雨備時為10:0)獲勝。<br>
(三) 比賽採四節制每節10分鐘，死球、暫停不停錶，唯第四節最後2分鐘停錶，如遇延長加賽，亦最後2分鐘停錶。<br>
(四) 比賽有24秒進攻時間限制，搶下進攻籃板從14秒開始倒數。<br>
(五) 第一、二節及三、四節間休息時間為1分鐘，中場休息2分鐘，每一延長賽之間休息1分鐘。<br>
(六) 暫停次數為上半場兩次，下半場三次，每次暫停時間為30秒，雨備則改為上半場一次，下半場兩次。<br>
(七) 比賽中球員犯滿五次犯規，包括侵人與技術犯規，應自動退出比賽。<br>
(八) 若比賽結束時得分相同，則進行5分鐘延長賽，比分仍相同，再次5分鐘延長，預賽不加賽，複賽加賽直至分出勝負為止。每次延長賽有一次暫停。<br>
(九) 比賽進行中干擾比賽或辱罵，經勸阻不聽者，得由裁判依規則規定處理，其餘人士由本大會統一處理。<br>
(十) 如遇有人為不可抗力因素，無法按照既定賽程如期比賽時，得由主辦單位與相關參賽單位協調，擇時補賽。<br>
(十一) 各場比賽進行時，如天然災害，比賽與否由大會審判委員及裁判裁定，各球隊不得提出異議。</p>
<p><strong>十三、罰則：</strong><br>
(一) 參賽選手不論在比賽期間倘有資格不符而出場比賽者，經檢具證實後即取消該比賽隊伍參賽資格並扣除該隊全數保證金，且不予發還。但在檢舉前之勝敗成績將不予重賽。<br>
(二) 比賽中如有球員發生鬥毆事件，或遇球員、球隊有關人員侮辱大會工作人     員及裁判等事件發生時，大會有權取消該隊比賽權利及已賽成績不計，並於次年停止該單位籃球代表隊參加本項比賽一年，情節重大者，並報請有關單位議處。<br>
(三) 凡比賽中被判處奪權犯規之球員或教練，立即處以禁賽1場，如有情結重大者則取消後續比賽資格。</p>
<p><strong>十四、申訴：</strong><br>
(一) 有關運動員資格問題，各參賽球隊應於比賽開始前提出，向該場地負責人申訴；若申訴成立時，則取消被檢舉隊伍之比賽資格。<br>
(二) 凡比賽時發生規則中無明文規定之問題，依據國際籃球規則第46條第12項規定：裁判員有權決定規則上所未提及的事項。且該場裁判員之判決為最終判決。<br>
(三) 比賽過程中，球隊如對裁判權責之判決有任何疑慮，請教練以謙恭有禮的態度向裁判溝通尋求解釋。<br>
(四) 申訴程序：<br>
　　1. 欲申訴之球隊或球員，應於比賽前或比賽中以口頭或書面方式，向該項目比賽負責人以已完成報名之球隊名義提出，若被申訴者為未報名參賽、不具有學生資格或冒名頂替，大會將要求該被申訴者出示選手證、足資證明103學年度下學期已正式註冊之學生證、以及第二張有照片的身分證明文件，以確認該被申訴者之報名資格；若被申訴者為體保生身分有疑慮，請申訴者檢具相關證明資料，以便確認被申訴者之體保生身分。<br>
　　2. 經口頭申訴後，申訴者須至各項目檢錄台以已完成報名之球隊名義填寫申訴書，並提交給該項目負責人，提出之申訴（含口頭和書面）若不成立，將會扣除該隊伍保證金新台幣貳百元整，若成立則不會扣除。<br>
　　3. 有關競賽所發生的問題（含資格）除當時得用口頭申訴外，仍須依照本章程規定，於比賽時間結束後20分鐘內補足正式手續<br>
　　4. 每場球賽開始前，雙方皆可以向該場裁判或該項目負責人申請查驗對手選手證，對方不得拒絕出示，如規勸後仍拒絕，即取消該隊伍之比賽資格，並由申請方以20:0(雨備時為10:0)贏得該場比賽，判決後不得提出異議。此項申請不包含在申訴內，亦不會扣除保證金。<br>
　　5. 除上述提及之申訴，該項目負負責人和總召保有接受與否之權利。</p>
<p>十五、所有賽事相關事務（包含賽制、競賽規則等），請密切注意2015中資盃官方網站。</p>
<p>十六、本競賽規程如有新增或修改部分則以2015年中資盃官方網站公告為依據。</p>
<p>十七、本大會保留任何修改賽規賽制之權力。</p>
<p>十八、本章程若有未盡事宜者，得由主辦單位修正後另行公布。</p>
</article>
        </div><!-- #main-core -->