<div id="main-core">
    <h3 style="text-align: center;"><strong>2015年中部大專院校資訊相關科系籃球團體賽競賽規程</h3>
    <h4>一、參賽資格</h4>
    <p>A.　參賽球隊資格：中部各大專院校資訊相關科系之在學學生為主體，以校系為單位報隊。報名上限為男籃48隊，女籃12隊。每隊最多報名15位球員，籃球體保生及曾參加大專聯賽公開一級、二級球員須在備註欄明確註記，球員名單於領隊會議結束後不得再要求變更。<br>
    B.　參賽運動員資格：<br>
    　　I.　以大會所邀請之大專校院系所103學年度下學期正式註冊之在學學生(含該系所研究生)為限（不含選讀生、先修生、補習生、空中補校、非該科系入學之雙主修生、僑生專修班及各種短期訓練班學生，不得跨系所參賽）。<br>
    　　II.　有以下資格者之隊伍比賽時僅能同時有一位選手出賽：曾參加大專校院運動成績優良學生甄審、甄試、單獨招生、轉學(插班)考試加分等「中等以上學校運動成績優良學生升學輔導辦法」規定之入學管道並經榜示或遞補錄取者定義為專項體保生；限報二名體保生，同時僅能一名體保生在場上。<br>
    　　※ 註：非該項目專項體保生亦視同專項體保生並在此限制之內。<br>
    　　III.　符合下列資格者即視同體保生：<br>
    　　　(i) 以籃球專長入學之球員。(含獨招)<br>
    　　　(ii) 研究生在大學是以籃球專長入學之球員。<br>
    　　　(iii) 轉學生於首次入學以籃球專長入學之球員。<br>
    　　※若違反以上規定之隊伍經檢舉查證屬實，則取消該隊伍之該項競賽成績及名次並全數扣除該隊保證金。</p>
    <h4>二、比賽規則</h4>
    <p>採用FIBA現行國際籃球規則和本比賽特殊規定。</p>
    <h4>三、比賽制度</h4>
    <p>1.　預賽採分組單循環賽制，男籃取十六強進入決賽，女籃取八強進入決賽，決賽採單敗淘汰賽制，依報名隊數，於第二次領隊會議舉行公開抽籤。(單循環以積分制:贏一場得2分，輸一場得1分，棄權0分計算，如果預賽分組內都同分那就依照比數的差異晉級隊伍)。<br>
        2.　雨中備案：若遇下雨，所有賽程移至體育館實施，賽制做以下更動：<br>
        　　a. 球賽分為上下兩節，一節10分鐘，第一節不停錶，僅第二節最後兩分鐘停錶。<br>
        　　b. 中場休息兩分鐘，上半場可請求一次暫停，下半場則兩次。<br>
        　　c.　如遇平手，進入第一次延長賽三分鐘，二次延長則立即進行PK賽。<br>
        　　d.　進入八強賽後恢復原訂賽制。</p>
    <h4>四、比賽細則</h4>
    <p>(一) 球衣各隊自備，需全隊同色，附清楚背號，若無相同球衣，需在背後貼明顯的號碼；若比賽兩隊球衣顏色相近，則雙方隊長猜拳決定輸贏，輸方使用大會提供之球衣。<br>
    (二) 球隊出場比賽前，教練自行調整12名球員出賽(填寫出賽登錄單)，並繳交選手證提交紀錄台查驗，若發現資格不符或冒名頂替事實，沒收所有比賽權利。有關運動員資格問題，大會服務台備有電腦可立即連線查證，此效力於該場比賽結束，裁判簽名前均屬有效。<br>
    (三) 各隊在第一場比賽前20分鐘，請隊長至檢錄處報到並領取選手證。<br>
    (四) 各隊隊長應詳閱出賽時間，並於賽前向檢錄台檢錄，並領取出賽登錄名單，於賽前10分鐘繳回，不得再更改。<br>
    (五) 參賽隊伍若於比賽開始後15分鐘內未出場，則以棄賽論，逾時不候。<br>
    (六) 比賽開始時，當其中一隊出場球員人數不足五人時，球賽不得開始。在比賽時間五分鐘後，該隊仍不足五人時，則應判令該隊棄權，由對隊20:0(雨備時為10:0)獲勝。<br>
    (七) 停錶時間：比賽於第一、二、三節最後一分鐘；第四節級決勝期最後2分鐘依規則停錶；突發事件經裁判認定必須停錶外，其餘時間均不停錶。<br>
    (八) 休息時間：第一~二節、第三~四節間之休息時間及決勝期前之休息時間均為1分鐘，中場休息時間3分鐘。<br>
    (九) 球員個人犯規達五次或技術犯規(納入個人犯規累計)達第二次時，需離場，於該場不得再度上場。<br>
    (十) 技術犯規皆罰球兩次，罰球結束後均由控球方從中場開球。<br>
    (十一) 延長賽：正規40分鐘比賽雙方平手時，應於2分鐘後舉行延長賽，時間為5分鐘，僅最後2分鐘停錶，於延長賽中僅有一次暫停(1分鐘)，均使用下半場進攻之籃框，於延長賽後，尚未分出勝負時，立即進行PK賽。<br>
    (十二) PK賽：雙方派出一名隊員(以延長賽場上的五人之一)以猜拳方式決定先後進行交 替罰球，由場上五人進行罰球，罰進一球得一分，將分數加至球隊分數上判定勝負。如五人罰完未能分出勝負，進行PK驟死(可派板凳球員)，當一隊罰進，另一隊未進時，由罰進之球隊獲勝。<br>
    ※ 註：PK賽之得分將不列入計算得失分比中。<br>
    (十三) 依據籃球規則規定：裁判員有權決定規則上所未提及的事項，且該場裁判員應做最終的判決。</p>
    <h4>五、罰則</h4>
    <p>(一) 參賽選手不論在比賽期間倘有資格不符而出場比賽者，經檢具證實後即取消該比賽隊伍參賽資格並扣除該隊全數保證金，且不予發還。但在檢舉前之勝敗成績將不予重賽。<br>
    (二) 比賽中如有球員發生鬥毆事件，或遇球員、球隊有關人員侮辱大會工作人 員及裁判等事件發生時，大會有權取消該隊比賽權利及已賽成績不計，並於次年停止該單位籃球代表隊參加本項比賽一年，情節重大者，並報請有關單位議處。<br>
    (三) 凡比賽中被判處奪權犯規之球員或教練，立即處以禁賽1場，如有情結重大者則取消後續比賽資格。</p>
    <h4>六、申訴</h4>
    <p>　1. 欲申訴之球隊或球員，應於比賽前或比賽中以口頭或書面方式，向該項目比賽負責人以已完成報名之球隊名義提出，若被申訴者為未報名參賽、不具有學生資格或冒名頂替，大會將要求該被申訴者出示選手證、足資證明103學年度下學期已正式註冊之學生證、以及第二張有照片的身分證明文件，以確認該被申訴者之報名資格；若被申訴者為體保生身分有疑慮，請申訴者檢具相關證明資料，以便確認被申訴者之體保生身分。<br>
    　2. 經口頭申訴後，申訴者須至各項目檢錄台以已完成報名之球隊名義填寫申訴書，並提交給該項目負責人，提出之申訴（含口頭和書面）若不成立，將會扣除該隊伍保證金新台幣貳百元整，若成立則不會扣除。<br>
    　3. 有關競賽所發生的問題（含資格）除當時得用口頭申訴外，仍須依照本章程規定，於比賽時間結束後20分鐘內補足正式手續<br>
    　4. 每場球賽開始前，雙方皆可以向該場裁判或該項目負責人申請查驗對手選手證，對方不得拒絕出示，如規勸後仍拒絕，即取消該隊伍之比賽資格，並由申請方以20:0(雨備時為10:0)贏得該場比賽，判決後不得提出異議。此項申請不包含在申訴內，亦不會扣除保證金。<br>
    　5. 除上述提及之申訴，該項目負負責人和總召保有接受與否之權利。</p>
    <h4>七、若遇天候不佳或不可抗拒之因素，大會保留修改賽程等相關權利。</h4>
    <h4>八、本大會保留任何修改賽規賽制之權力。</h4>
    <h4>本辦法如有未盡事宜者，得由大會修訂之。</h4>
</div><!-- #main-core -->