<div id="main-core">
<h3 style="text-align: center;"><strong>2015中部地區資訊學院球類盃賽大賽章程</strong></h3>
<hr>
<strong>壹、比賽名稱</strong><br>
　　2015中部資訊學院盃賽<p></p>
<p><strong>貳、	比賽宗旨</strong><br>
　　本比賽舉辦的目的在於藉由中部地區資訊相關校系的同學之間球技交流，倡導運動的重要性，並在忙碌於課業之餘可以重視身體健康。希望藉由此次盃賽提供一個安全且完善的環境，讓大家可以互相切磋，並拓展人際關係。</p>
<p><strong>參、	比賽日期與時間</strong><br>
　　民國一零四年十月三十一日 到 民國一零四年十一月一日</p>
<p><strong>肆、	比賽地點</strong><br>
　　籃球：國立清華大學室內外籃球場、新竹高商室外籃球場<br>
　　排球：國立清華大學室內排球場、高峰國小室內排球場<br>
　　羽球：國立清華大學校友體育館<br>
　　桌球：國立清華大學桌球館<br>
　　壘球：新竹市河濱球場</p>
<p><strong>伍、	領隊會議</strong><br>
　　 第一次領隊會議：10/3 (六) <font color="red">13：00 清華大學台達館1F</font><br>
	第二次領隊會議：10/17(六) <font color="red">13：00 清華大學台達館1F</font></p>
<p><strong>陸、	主辦單位</strong><br>
　　國立清華大學 資訊工程學系 系學會</p>
<p><strong>柒、	比賽項目</strong><br>
　　男子籃球、女子籃球<br>
　　男子排球、女子排球<br>
　　桌球團體賽<br>
　　羽球團體賽<br>
　　慢速壘球</p>
<p><strong>捌、	負責人</strong><br>
　　總召　董承樺   0975115563<br>
　　Email：cisc.in.nthu@gmail.com<br>
　　國立清華大學　資訊工程學系</p>
<p><strong>玖、	活動對象</strong><br>
　　中部大專院校資訊及相關學系(桃竹苗以南(含)、雲林以北(含)各大專院校資訊相關科系為主)104學年度上學期註冊之在校學生，以隊伍為單位，聯隊報名請參閱最下方聯隊規則。</p>
<p><strong>壹拾、	報名須知</strong><br>
<ol>
	<li>報名日期：2015/9/21 ~ 2015/10/6</li>
	<li>報名方式：統一採取網路報名<br>網路報名：<br>於官方網站2015中部大專院校資訊科系運動盃賽進行報名</li>
　　<li>由於此次盃賽時間較早，因此開放於2015/10/9 17:00前各隊均可修改名單。</li>
　　<li>如有任何疑問可以透過以下管道與我們聯絡<br>中資盃官網：<br>Facebook粉絲專頁：<br>聯絡信箱：cisc.in.nthu@gmail.com<br>
	</li>
</ol>
　　※ 本次比賽報名統一採網路報名制，收到匯款才算報名成功，若隊伍數量超額時以收到款項的先後順序作為決定。</p>

<p><strong>壹拾壹、	參賽資格</strong><br>
　　1.	凡具備大專院校資訊相關科系之系所104學年度上學期正式註冊之在學學生（含該系所研究生）。<br>
　　2.	研究所學生可與大學部組隊，亦可為獨立單位報名參賽<br>
　　3.	下列學生資格不得參賽：<br>
　　　i.	選修生（含輔系）<br>
　　　ii.	先修生（未具正式學籍者）<br>
　　4.	有以下資格者之隊伍任何項目比賽僅能同時有一位選手出賽。<br>
　　　i.	曾參加大專院校運動成績優良學生甄審、甄試（體保、體資、體優）、體育獨招、轉學考體育加分等，依據「中等以上學校運動成績優良學生升學輔導辦法」規定之入學管道並經榜示獲遞補錄取者定義為專項體保生。<br>
　　　ii.	每一參賽項目限報兩名專項體保生，但同一時間僅能由一人上場（壘球項目則只限報一名專項體保生）。<br>
　　　iii.	關於體保生參賽資格之規定請見各球類章程，並以各球類章程之規定為評斷依據。<br>
　　5.	選手可重複報名兩項以上之競賽項目，不得重複報名同一項目。賽程如遇時間衝突時需自行取捨，大會不負時間衝突之調度責任。以現場登錄認定比賽資格，個別球員若無法出賽以棄權論，不得要求延賽或是重新賽程。報名時，各隊應有足夠之球員，以避免上述之狀況。<br>
　　6.	若違反以上規定之隊伍經檢舉查證屬實，則取消該隊伍之該項競賽成績及名次，並依據保證金扣款規定，扣除該隊保證金；情節嚴重者須附相關刑事責任。<br>
　　7.	若在該項目中的球員人數較多，則在每個比賽項目中，至多可先報名兩隊，待報名結束後，會依據總隊伍數，決定第二隊可否參加比賽。</p>
<p><strong>壹拾貳、	特殊原因更換球員</strong><br>
　　若有特殊原因（不可抗拒之意外造成球員無法出賽）須要求更換球員，必須於賽程抽籤完成前提出證明申請，每隊最多申請更動三位，由主辦單位認可便受理。但第一隊與第二隊之間球員交換不在此限。<br>
　　惟二領後所有參賽者名單須確定，恕無法進行任何更動。</p>
<p><strong>壹拾參、	檢錄</strong><br>
　　1.	賽前30分鐘到場並至各球類檢錄處報到領取出賽名單<br>
　　2.	賽前15分鐘至檢錄處繳回出賽名單，並攜帶球員學生證及選手證完成檢錄程序<br>
　　3.	比賽開始後10分鐘未到之隊伍以棄權論</p>
<p>　　註1：各隊伍應詳閱出賽時間，大會將不另行通知　<br>
　　註2：若對出賽名單有疑義必須於賽前反應之<br>
　　註3：出賽名單一旦繳回後，不予更改</p>
<p><strong>壹拾肆、	報名費用及保證金</strong><br>
（保險費每人<font color="red">37元(2015/09/29 修改)</font>，費用另計，並強制所有參賽球員皆須保險)</p>
<table>
<tbody><tr>
<th>項目名稱</th>
<th>每隊報名費(新台幣)</th>
<th>每隊保證金(新台幣)</th>
</tr>
<tr>
<td>羽球</td>
<td>3000</td>
<td>1000</td>
</tr>
<tr>
<td>籃球</td>
<td>3500</td>
<td>1000</td>
</tr>
<tr>
<td>排球</td>
<td>3500</td>
<td>1000</td>
</tr>
<tr>
<td>壘球</td>
<td><font color="red">3500(2015/09/29 修改)</font></td>
<td>1000</td>
</tr>
<tr>
<td>桌球</td>
<td>2500</td>
<td>1000</td>
</tr>
</tbody></table>
<p>保證金於該隊伍已完成所有賽事時可申請退還，詳細地點於檢錄時會提醒參賽隊伍</p>
<p><strong>壹拾伍、	各項目報名規範</strong><br>
籃球：<br>
　　1.	各隊伍報名以１８人為限。每場比賽可自報名名單中自由選擇登錄１２名球員上場。<br>
　　2.	具體保生以及體資生資格之球員，每場比賽同時只可有一名上場。<br>
　　3.	隊伍上限：男籃48隊、女籃12隊。</p>
<p>排球：<br>
　　1.	各隊伍報名以１８人為限。每場比賽可登錄上場球員以１２人為限。<br>
　　2.	具體保生、體資生資格之球員可報名兩人，但每場比賽同時只可有一名上場。<br>
　　3.	隊伍上限：男排24隊、女排12隊。</p>
<p>羽球：<br>
　　1.	每隊可報球員以１５人為上限。每場比賽可登錄上場之球員以９人為限。<br>
　　2.	五點三勝制（出場序為：男單、男雙、女雙、混雙、男雙），每隊只有一名女選手可兼一點或代男選手一點。<br>
　　3.	具體保生、體資生資格之球員可報名兩人，但僅能同時有一名出賽。<br>
　　4.	隊伍上限：18隊。</p>
<p>桌球<br>
　　1.	每隊報名人數（含隊長）最多以１５人為限。<br>
　　2.	比賽共分五點（依序為：男單、女單、男雙、混雙、男單）<br>
　　3.	參賽球員兼(代)點相關之規定請參照桌球章程。<br>
　　4.	具體保生、體資生資格之球員可報名兩人，但僅能同時有一名出賽。<br>
　　5.	隊伍上限：16隊。</p>
<p>壘球：<br>
　　1.	每隊可報名人數上限為２５人。<br>
　　2.	具有體保生、體資生資格之隊員，每場比賽只可有一名上場。<br>
　　3.	隊伍上限：12隊。</p>
<p>※ 各項競賽項目詳細之賽制以及規範，請另至本大會官網各球類章程查看，並且各項目相關規範以各球類章程所公告為基準。</p>	
<font color="red">
<p>聯隊規則：</p>
<p>若一系大學部在學學生總人數(籃球、排球項目男女分開計算)少於250人，則可與同校同學院相關設計系所之科系以聯隊方式報名參加，最多2系聯隊，報名表須填上
聯隊內之所有科系。</p>
(2015/09/29 修改)
</font>

</div><!-- #main-core -->