<div id="main-core">
	<h3 style="text-align: center;"><strong>2015年中部大專院校資訊相關科系桌球團體賽競賽規程</h3>
	<h4>壹、比賽制度：</h4>
	<p>一、 視隊數採雙或單敗淘汰制。<br>
		二、 一隊報名最多12人，單場檢錄最少4人、最多8人，體保生最多1名。</p>
	<h4>貳、比賽規則：</h4>
	<p>採用ITTF現行最新國際桌球規則和本比賽特殊規定。</p>
	<h4>參、特殊規定：</h4>
	<p>一、 團體賽採五點三勝制（順序均為單打、雙打、單打、雙打、單打），選手不得兼點；各點不得輪空。<br>
		二、 預賽每點採五局三勝制，可進行五點完賽，但比分應記為勝隊取得第三獲勝點時之比數。<br>
		三、 複賽每點採五局三勝制，每場比賽以分出勝負之球隊，由裁判判定獲勝後，其餘各點不再繼續比賽。<br>
		四、 每局先獲得11分者獲勝此局；若雙方比分到達10平分時，先領先2分者獲勝此局。<br>
		五、 團體賽中任何一點，如因未出賽而被判棄權時，取消該場其後各點之比賽資格，即往後各點之積分為零。<br>
		六、 比賽期間若因某隊選手受傷而人數不足，空點只可排於最後一點。<br>
		七、 大會有權在比賽前後主動舉發冒名頂替等違規事件，以維護比賽公平，若有冒名頂替比賽者，則其所參賽之隊伍將被判為『奪權比賽』。<br>
		八、 凡球員或球隊對大會工作人員或裁判有不禮貌行為時，大會得視情節輕重作適當處理，嚴重者判為『奪權比賽』。<br>
		九、 比賽中被判為『奪權比賽』之球隊，強制沒收其後所有賽程，且之前所有比賽成績均不計。（並不得要求退還報名費及保證金）。<br>
		十、 選手應保持比賽會場的淨空；每場結束，選手應盡快的退離比賽場地，以利賽程順利進行。<br>
		十一、 若甲方球員有發球未拋球或非持拍手遮球之行為，乙方球員可自行決定是否向裁判告知，裁判規勸兩次後若還有此行為者即判為發球失分。裁判的判決為最終判決。<br>
		十二、 團隊服裝顏色一致。禁穿著類似桌球的顏色(橘，黃，白色)，且禁穿牛仔褲及淺色短褲，並請穿著球鞋。比賽當天選手須自備球拍，並使用大會所提供之桌球。<br>
		十三、 比賽區只限裁判，比賽球員以及工作人員進入，觀眾不得超過或進入比賽區域內，以利比賽時之進度和安全。<br>
		十四、 球員報名註冊後於第二次領隊會議確定即不得再要求變更。報名人數限最多12名，隊伍自行調整至多8名球員出賽，最少4位。未經登記之球員，不准出場比賽。<br>
		十五、 一旦點單交出則不能作出任何更改。<br>
		十六、 每一個隊賽在開始前會先進行檢錄，而在點單上的球員必須同時到達並出示選手證。如宣佈比賽後十分鐘內沒有檢錄成功，則列作棄權處理。棄權五點皆以11：0判負。<br>
		十七、 所有球員之資格問題含冒名頂替、未列於秩序冊之球員或「背號或姓名筆誤」，任何時間被抗議，則仍應接受身份之核對，所有球員資格皆以原始報名資料為準；替補球員於登場時若對方有資格異議時，該替補球員應提出身份證明。<br>
		十八、 其餘未表列之規則依據ITTF現行最新國際桌球規則實施。</p>
</div><!-- #main-core -->