<div id="main-core">
	<h3 style="text-align: center;"><strong>2015年中部大專院校資訊相關科系慢速壘球團體賽競賽規程</h3></strong>
	<h4>壹、比賽制度：</h4>
	<p>一、預賽採三循環取一賽制(以積分數較高者)， 複、決賽採單敗淘汰制。<br>
		二、預賽有和局，複賽無和局，採突破僵局制。<br>	三、積分制：勝隊積分兩分，和局各得一分，積分相同時依下列順序逐一比較後晉級(A.總失分少者B.總得分多者C.抽籤)。<br>	四、各隊於比賽前15 分鐘要完成檢錄且於開賽前10 分鐘驗證件，其有效證件為選手證，否則視同棄權，棄權以7：0 判定。<br>
		五、除非打雷，否則遇雨比賽依然照常進行。<br>
		六、一隊報名最多25人，單場檢錄最少10人、最多18人。</p>
	<h4>貳、比賽規則：</h4>
	<p>採用中華民國慢速壘球協會2011-2013壘球協會的規則為標準。</p>
	<h4>參、特殊規定：</h4>
	<p>一、本次比賽，擊球員自打擊開始到出局前或得分為止，必須戴雙耳有扣帶頭盔(球隊自備)，否則擊出之球為安打球，或得分只要頭盔掉落，皆判出局(發生衝撞而掉落暨死球狀態除外) 所有推進壘有效，出局為第三出局，其後得分無效，不得異議。<br>
		二、打擊從一好一壞開始，滿球數為二好三壞，二好球後打者擊出界外算出局，比賽好球帶的高度是1.82公尺以上高度不限，落地球擊中好球板及本壘板均算好球。比賽以7 局55分鐘為限，4 局差10 分，5 局差7 分則提早結束比賽。另外賽末局比賽時間不足5 分鐘時，裁判得宣布結束比賽。<br>
		三、不得觸擊或甩棒，否則不警告直接出局。<br>
		四、於本壘板前4.5 米處有封殺線，越過此線不得回壘（夾殺狀況該安全線自動失效，捕手需做觸殺動作），嚴禁穿著金屬釘鞋。<br>
		五、不服從裁判判決、不遵守大會規定者，取消比賽資格。<br>
		六、本次複賽無和局，採突破僵局制。突破僵局制為無人出局，上一局的最後出局者在二壘，依序開始打擊。<br>
		七、本次比賽嚴格要求球員認證制，凡無登錄於秩序冊上之球員，或登錄於秩序冊上之球員無證照者，不得上場比賽。(由大會主審裁判執行之)。<br>
		八、每場比賽每隊最多可登錄18名球員。但僅限於檢錄表上有出現名字之球員，若發現有未報名之人員下場比賽，則直接取消該隊資格。需統一球衣(前面有學校系系所名、背後有背號)、球褲(需同色系)，無球衣球褲或沒背號則不得上場比賽。<br>
		九、凡逾時十分鐘，不出場比賽以棄權論(比數七比零)，但若因大會之故而無法準時進行比賽，則不在此限。<br>
		十、此次比賽只限使用木棒，禁棒名單(禁止使用球棒之型號)以ASA 公佈最新版本為準。比賽中若使用禁棒打擊，經檢舉查驗若為屬實，則該隊該場比賽所得分數一律歸零。再犯則取消該隊資格。<br>
		十一、本次比賽跑壘員回本壘可使用本壘板暨好球板，但不得故意衝撞防守一方球員(經裁判認定故意，處予驅逐出場，並不得再上場比賽)。<br>
		十二、有關攻守名單應注意事項：<br>
		　1.填寫清楚應填寫之所有項目，教練或經理應簽名並註明球衣號碼。<br>
		　2.預備球員欄應詳細填寫，否則權力喪失則自行負責。<br>
		　3.預備球員欄中未填寫之球員，及只寫姓名未填號碼者，於比賽中不得上場或替補其他球員。<br>
		　4.報名時未列於報名表中之球員欄者，比賽中不得上場比賽，若是教練或經理兼球員，則姓名除列於教練經理欄外，於球員欄亦應將其姓名寫上，否則不得上場比賽。<br><br>
		※違規上列3.4.項則以違規球員判決<br><br>
		十三、參賽隊伍及大會工作人員須於比賽時間提前三十分鐘報到檢錄，為使球賽能夠順利進行，參賽雙方球員若已提前到齊大會得宣布提前比賽。<br>
		十四、為顧及比賽之安全性和隊間之和諧，球賽中若有惡意衝撞或甩棒之行為發生，第一次口頭警告，再犯則驅逐出場，並不得再上場本次比賽。<br>
		十五、其餘未有比賽隊伍，請找地方休息，勿喧嘩、滋事，如有違反取消比賽資格，以7：0輸掉比賽，沒收保證金。<br>
		十六、面授機宜單場最多四次，單局最多兩次,兩次直接換投,換下投手在該場比賽無法再回到投手丘，每次面授機宜時間30秒為限。<br>
		十七、女生優惠條款：第一位上場打擊女姓(其餘女性球員不受此規則保護)全場（含再上場）不算出局數、落地安全上壘，壘上跑者處於負險狀態。唯以女性球員更換場上女性球員，則該球員可享同樣特別規定。各隊可自行決定是否安排女性上場。<br>
		十八、球隊因不足九人而無法比賽時，將被判『棄權比賽』，但若比賽時全隊無人到場且未有正當理由者，該球隊將被判『奪權比賽』。</p>
</div><!-- #main-core -->