<div id="main-core">
	<h3 style="text-align: center;"><strong>2015年中部大專院校資訊相關科系排球團體賽競賽規程</h3>
	<h4>一、參賽及報名資格</h4>
	<p>1. 球隊報名：隊伍數上限分別為男排24隊、女排12隊，每隊報名人數為6~18人，並分兩階段報名。報名是否完成以官網公告為主。<br>
		2. 球員資格：<br>
		　(1)	以各報名校系104學年度上學期正式註冊之在學學生(包含該系所屬研究生)為限，每一人限報名一隊，重複報名者取消其及所屬各球隊參賽資格。<br>
		　(2)	符合以下資格者視為體保生，每一隊伍限報2名體保生。<br>
		　　I.	曾參加大專校院運動成績優良學生甄審、甄試、單獨招生、轉學(插班)考試加分等「中等以上學校運動成績優良學生升學輔導辦法」規定之入學管道並經榜示或遞補錄取者。<br>
		　　II.	以排球專長入學之球員(含獨招)。<br>
		　　III.	研究生、轉學生，在大學曾以排球專長入學之球員。<br>
		　　IV.	非排球項目之專項體保生亦視同體保生，並在此限制之內。<br></p>
	<h4>二、各場比賽可登錄球員</h4>
	<p>1. 每場比賽每隊可登錄至多12名球員，其中最多只能有1名體保生，並包含最多1名自由球員。除自由球員在比賽中受傷，可指定登錄名單中其他球員替代自由球員外，任何情況皆不可更換自由球員。<br>
		2. 同一球隊，不同場比賽，自由球員可以登錄不同球員。</p>
	<h4>三、比賽規則</h4>
	<p>除本章程內提及事項外，一律採用2013~2016 FIVB國際排球規則。</p>
	<h4>四、比賽制度：</h4>
	<p>1. 正常賽制：所有比賽皆採三局二勝制。第一、二局，當任一隊達25分且領先2分以上判該隊該局為勝。第三局當任一隊達15分且領先2分以上判該隊該局為勝。<br>
		2. 雨備賽制：所有比賽皆採單局35分決勝，18分換場，每隊有3次30秒暫停機會。當任一隊達35分且領先2分以上(無延長上限)判該隊該局為勝。由四強開始恢復正常賽制。<br>
		3. 3.	預賽：正常賽制和雨備賽制均採分組循環賽，各組並按以下順序排名<br>
		　(1)由(2)開始，僅比較各相關隊，如有隊伍分數和其他隊伍不同，該隊伍排名立即確定，所剩相關隊由(2)重新比較勝負。<br>
		　(2)勝場數，多者優先。<br>
		　(3)積分(僅適用正常賽制)：較高者優先<br>
		　　I.單場比賽總局數2:0勝，積3分<br>
		　　II.單場比賽總局數2:1勝，積2分<br>
		　　III.單場比賽總局數1:2負，積1分<br>
		　　IV.單場比賽總局數0:2負，積0分<br>
		　　V.棄賽或被判棄賽者，單場比賽積分倒扣2分<br>
		　(4)得失分比值：相關隊中所有比賽各局得分總和/失分總和，較高者優先。<br>
		　(5)若以上方式無法決定排名，由各相關隊伍派代表抽籤決定之。<br>
		4. 複決賽：採單淘汰賽並重新抽籤。<br>
		　(1)預賽結束後，由各晉級隊伍派代表抽籤。<br>
		　(2)複賽第一輪各分組第一的對手僅可為其他分組第二名球隊。<br>
		　(3)預賽同組球隊僅能出現在籤表不同部。<br></p>
	<h4>五、比賽細則</h4>
	<p>1. 球員服裝：<br>
	　(1)除自由球員外，上衣樣式必須全隊一致，且有明顯之不重複號碼(背號, 限為 1~20 號)。球褲不限，惟球褲上若有號碼，必須與上衣號碼一致。<br>
	　(2)若背號十位數為0時，則視為無0之背號，如：01與1號視為同背號，因此各隊中只能登錄一名該背號之球員。<br>
	　(3)自由球員上衣顏色必須與其他球員明顯不同，惟仍須有明顯且不與其他隊員重複之號碼。<br>
	2. 場地規範：<br>
	　(1)非比賽之球隊及觀眾欲觀賽請至休息區，比賽中之球隊未上場之球員、隊職員等，需移至第二裁判方、球場端線以外，以不影響球賽進行為原則。<br>
	　(2)球場內無比賽時僅供即將上場之球隊熱身練球，其餘球隊請至他處練習。<br>
	　(3)比賽進行中除裁判攜帶之哨子進行比賽吹判外，不得使用哨子類之物品做為加油工具，影響比賽球員及比賽進行。<br></p>
	<h4>六、罰則</h4>
	<p>1. 參賽選手在比賽期間倘有資格不符而出場比賽者，經檢具證實後即取消該比賽隊伍參賽資格並扣除該隊全數保證金，不予發還。<br>
	2. 取消參賽資格之隊伍，在檢舉前之比賽成績將不予重賽。若為賽前30分鐘以前檢舉，則由前一輪對手遞補晉級，否則由該輪對手直接晉級。<br>
	3. 比賽中如有球員發生鬥毆事件，或遇球員、球隊有關人員侮辱大會工作人員及裁判等事件發生時，大會有權取消該隊比賽權利及已賽成績不計。情節重大者，並報請有關單位議處。<br>
	4.	凡比賽中被判處奪權犯規之球員或教練，立即處以禁賽1場，如有情結重大者，則取消後續比賽資格。
	</p>
	<h4>七、申訴</h4>
	<p>1. 有關運動員資格問題，各參賽球隊應於比賽開始前或比賽中，向該場地負責人提出申訴；若申訴成立，取消被檢舉隊伍之比賽資格。比賽結束後之申訴將不會影響已完成賽事之結果。<br>
	2. 比賽過程中，球隊如對裁判權責之判決有任何疑慮，請教練、隊長或場上隊長以謙恭有禮的態度向裁判溝通尋求解釋。<br>
	3. 申訴程序：<br>
	　(1)欲申訴之球隊或球員，應於比賽前或比賽中以口頭或書面方式，向本項目負責人以已完成報名之球隊名義提出，若被申訴者為未報名參賽、不具有學生資格或冒名頂替，大會將要求該被申訴者出示選手證、足以證明104學年度上學期已正式註冊之學生證、以及第二張有照片的身分證明文件，以確認該被申訴者之報名資格；若被申訴者為體保生身分有疑慮，請申訴者檢具相關證明資料，以便確認被申訴者之體保生身分。<br>
	　(2)經口頭申訴後，申訴者須至各項目檢錄台以已完成報名之球隊名義填寫申訴書，並提交給本項目負責人，提出之申訴(含口頭和書面)不成立，將會扣除該隊伍保證金新台幣貳百元整，若成立則不會扣除。<br>
	　(3)有關競賽所發生的問題(含資格)除當時得用口頭申訴外，仍須依照本章程規定，於比賽時間結束後20分鐘內補足正式手續。<br>
	　(4)每場球賽開始前，雙方皆可以向該場裁判或本項目負責人申請查驗對手選手證，對方不得拒絕出示，如拒絕，立即判該隊伍該場比賽棄賽，並由申請方以2:0(25:0, 25:0)贏得該場比賽，判決後不得提出異議。此項申請不包含在申訴內，亦不會扣除保證金。<br>
	　(5)除上述提及之申訴，本項目負責人和總召保有接受與否之權利。</p>
	<h4>八、雨天備案：視天候狀況，請依2015年中資盃官方網站公告為依據。</h4>
	<h4>九、本競賽章程如有新增修改部分則以2015年中資盃官方網站公告為依據。</h4>
	<h4>十、主辦單位保留任何修改賽規賽制之權力。</h4>
	<h4>十一、本章程若有未盡事宜者，得由主辦單位修正後另行公布。</h4>
	<h4>十二、若對本章程有任何疑義，請聯絡本項目負責人或總召。</h4>
</div><!-- #main-core -->