<div id="main-core">
	<h1>住宿資訊</h1>
	<ul>
		<li> <a href="http://chief.hotel.com.tw">新竹元首經典飯店</a>
		</li>
		<li>地址：新竹市東區建功一路29號(清大夜市內,近新竹世博館)</li>
		<li>電話：(03)571-1111　傳真：(03)571-7777</li>
		
	</ul>
	<ul>
		<li><a href="http://www.royal-hotel.com.tw/room-1.asp"> 老爺商務旅館</a></li>
		<li>地址：新竹市光復路二段167號</li>
		<li>電話：03-5711585　傳真：(03)571-1588</li>
		<li></li>
	</ul>
	<ul>
		<li> <a href="http://www.easytravel.com.tw/ehotel/room.aspx?n=7156">心園商務旅館 (線上訂房)</a></li>
		<li>地址：新竹市東區民權路223號</li>
		<li>電話：07-9682715</li>
	</ul>
	<ul>
		<li><a href="http://www.easytravel.com.tw/ehotel/room.aspx?n=7216">賓城商務旅館 (線上訂房)</a> </li>
		<li>地址：新竹市中正路13號5樓</li>
		<li>電話：07-9682715</li>
	</ul>
</div>