<div id="main-core">
	<h1>交通資訊</h1>
	<p><font color = '#47e' ><a href="http://www.nthu.edu.tw/">國立清華大學</a></font><br>
		地址：新竹市光復路二段101號<br>
		電話：03-5715131</p>
	<h3>周邊交通</h3>
		<%= image_tag 'neighbor_map.png' %>
	<h3>交通方式</h3>

	<h6><b>公車</b></h6>
	<p>新竹火車站→1路或2路公車→清大<br>
		一段票：15元，可用悠遊卡</p>

	<h6><b>客運</b></h6>
	<p>下車後即到達清大門口</p>

	<h3>校內地圖</h3>
		<%= image_tag 'school_map.png' %>
	<p>詳細查看，可參閱<a href="http://campusmap.cc.nthu.edu.tw/">校園導覽系統</a></p>
</div>