<div id="main-core">
	<a href="https://goo.gl/EzXONB">壘球</a>
	<a href="https://goo.gl/sGswPK">男籃</a>
	<a href="https://goo.gl/5f2BUr">女籃</a>
	<a href="https://goo.gl/z8rgQN">羽球</a>
	<a href="https://goo.gl/evNmjq">桌球</a>
	<a href="https://goo.gl/mIK4aY">排球</a>
	<br>
	<a href="https://goo.gl/vg2WkU">抽籤結果</a>
</div>